@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Kdam+Thmor+Pro&display=swap");

.icon-container {
  margin-top: 35px;
  margin-left: 20px;
}
.containers {
  background-color: white;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-left: 16px;
  margin-top: 22px;
}
.text-number-container {
  margin-left: 16px;
  margin-top: 32px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.text-container {
  margin-top: 18px;
  margin-left: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.7);
}

.line-container {
  border: 1px solid #e9edf7;
  margin-top: 28px;
}
.second-number {
    margin-left: 16px;  
  margin-top: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.02em;

  color: #ffffff;
}
.second-text {
    margin-left: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;


  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.7);
}
