@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Kdam+Thmor+Pro&display=swap");

.title-dashboard {
  margin-left: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #2b3674;
}
.subtitle-dashboard {
  color: #707eae;
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.header {
  display: flex;
}

.filter-data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707eae;
}
input.input-filter-data {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8f9bba;
  padding-left: 40px;
}
#data-inicial {
  background: url("../Images/jpg/newvector.svg")
    #fff no-repeat;
  background-size: 12px;
  background-position: 16px 12px;
  background-color: #f4f7fe;
}
.input-search {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8f9bba;
  background-color: #f4f7fe;
}
#search {
  background: url("../Images//jpg/newsearch1.jpg")
    #fff no-repeat;
  background-size: 20px;
  background-position: 10px 12px;
  background-color: #f4f7fe;
}
