@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Kdam+Thmor+Pro&display=swap');

.title-dashboard {
  margin-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #2b3674;
}
.subtitle-dashboard {
  color: #707EAE;
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.header {
  display: flex;
}

.filter-data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707eae;
}
.input-filter-data {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8f9bba;
}
.input-search {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8f9bba;
}
