@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Kdam+Thmor+Pro&display=swap');

.all-sidebar {
    font-family: 'DM Sans';

font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #A3AED0;
}

.single-sidebar {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
letter-spacing: -0.02em;

color: #2B3674;
}